li {
    list-style: none;
}

//bootstrap overwrite
a:not([href]):not([tabindex]) {
    color: $link-color;
    cursor: pointer;
    &:hover {
        color: $link-hover-color
    }
}

//Change only secondary color

.btn-secondary {
    color: $btn-secondary-color;
    background-color: $btn-secondary-bg;
    border-color: $btn-secondary-border-color;

    &:hover {
        background-color: #e6e6e6;
        border-color: #adadad;
    }
    &:disabled,
    &.disabled {
        color: $btn-secondary-color;
        background-color: $btn-secondary-bg;
        border-color: $btn-secondary-border-color;
        opacity: 0.4;
    }
}

.hide {
    display: none !important;
}

.expand {
    width: 100%;
}

//Global block wrapper for every page_title
.content-wrapper {
    padding: 12px;
    max-width: $site-max-width;
    margin-left: auto;
    margin-right: auto;
}
