@charset 'utf-8';

@import 'settings';
@import 'project-settings';
@import "font-awesome";
@import 'foundation';
@import 'motion-ui';
@import 'jQuery-QueryBuilder/dist/scss/default';

// Datepicker

@import 'components/air-datepicker/cell';
@import 'components/air-datepicker/datepicker';
@import 'components/air-datepicker/timepicker';
@import 'components/air-datepicker/navigation';


/*------------------------------------
    DEFAULT FOUNDATION INCLUDES

    Uncomment when needed, else leave them commented to keep everything as
    compact as possible.
------------------------------------*/

@include foundation-global-styles;
// @include foundation-grid;                                                    // leave this disabled when using flex grid!
@include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
// @include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-menu;
// @include foundation-menu-icon;
// @include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
// @include foundation-flex-video;
@include foundation-label;
// @include foundation-media-object;
@include foundation-off-canvas;
// @include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-progress-element;
@include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
// @include foundation-thumbnail;
// @include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

/*------------------------------------
    PROJECT INCLUDES

    Custom stuff goes below
------------------------------------*/
@import "modules/ellipsis";

@import "components/selectize/_selectize";

@import "partials/_accordion";
@import "partials/_burger";
@import "partials/_base";
@import "partials/_callout";
@import "partials/_cards";
@import "partials/_conditional-field";
@import "partials/_dialog";
@import "partials/_dropdown";
@import "partials/_footer";
@import "partials/_header";
@import "partials/_header-menu";
@import "partials/_input-fields";
@import "partials/_off-canvas";
@import "partials/_query-builder";
@import "partials/_reveal";
@import "partials/_rules";
@import "partials/_richtextedit";
@import "partials/_slider";
@import "partials/_stepper-input";
@import "partials/_switch";
@import "partials/_tables";
@import "partials/_table-filters";
@import "partials/_tabs";
@import "partials/_tags";
@import "partials/_typography";
@import "partials/_widgets";

@import "pages/_detail";
@import "pages/_login";
@import "flags";