include README.md
include LICENSE
recursive-include arctic/static *.js *.css *.jpg *.png *.eot *.svg *.ttf *.woff *woff2
recursive-include arctic/templates *.html
recursive-exclude * __pycache__
recursive-exclude * *.py[co]