include README.md
include LICENSE

recursive-include arctic/static/arctic/dist *.js *.css *.jpg *.png *.eot *.svg *.ttf *.woff *woff2
recursive-include arctic/locale *
recursive-include arctic/templates *.html
recursive-include arctic/project_template *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
prune arctic/static/arctic/node_modules
prune arctic/static/arctic/node_modules
prune arctic/static/arctic/src