coverage==4.2
Django==1.9.10
-e git+https://github.com/sanoma/django-arctic.git@25209372b19725f84e7243875091a93c4af3aedb#egg=django_arctic
django-betterforms==1.1.4
django-braces==1.10.0
django-extra-views==0.7.1
django-filter==0.12.0
django-widget-tweaks==1.4.1
factory-boy==2.7.0
fake-factory==0.5.7
fancycompleter==0.5
flake8==3.0.4
isort==4.2.5
mccabe==0.5.2
mixer==5.5.7
mock==2.0.0
mysqlclient==1.3.7
ordereddict==1.1
pbr==1.10.0
pdbpp==0.8.3
pep8==1.7.0
pluggy==0.4.0
py==1.4.31
pycodestyle==2.0.0
pyflakes==1.2.3
Pygments==2.1.3
pytest==2.9.2
pytest-cov==2.3.1
pytest-django==2.9.1
pytest-pythonpath==0.7.1
python-dateutil==2.5.3
six==1.10.0
tox==2.4.1
virtualenv==15.0.3
wmctrl==0.3
