.page-login {
  height: 100vh;
  padding-right: 1em;
  padding-left: 1em;
}

.log-in-form {
  position: relative;
  top: 15vh;
  border: 1px solid #cacaca;
  padding: 1rem;
  width: 100%;
  background: white;
}

.login-message {
    margin-top: 5vh;
}
