.page-login {
  height: 100vh;
  padding-right: 1em;
  padding-left: 1em;
  background-color: $sidebar-background;
}

.page-login__title {
  color: $sidebar-color;
  font-size: $h5-font-size;
  text-align: center;
  padding: 0.5rem;
}

.page-login__logo {
  margin: auto;
  padding-top: 0.5rem;
  display: block;
  max-width: 15%;
  max-height: 15%;
}

.log-in-form {
  padding: 1rem;
  width: 100%;
  @extend .arctic-card;
}

.login-message {
}

.outer {
    display: table;
    position: absolute;
    height: 80vh;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
}