{% load i18n staticfiles arctic_tags %}

<!DOCTYPE html>
<html lang="en">

    <head>
        {% include "arctic/partials/head.html" %}
        {% block head_extras %}{% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">

        {% block body %}

        <div class="container-fluid">
            <div class="row row-offcanvas row-offcanvas-left flex-nowrap">
                <div class="col-6 col-md-3 sidebar-offcanvas" id="sidebar">
                    {% include "arctic/partials/menu.html" %}
                </div>
                <div class="col-12 col-md-9">
                    {% block outer_content %}
                        <div class="hidden-md-up">
                            <a href="#" class="menu-button" id="menu-button">
                                <span class="burger-icon"></span>
                            </a>
                        </div>
                        {% block content %}content here{% endblock %}
                    {% endblock %}
                </div>
            </div>
        </div>
        {% endblock %}

        {% block scripts_bottom %}
            <script>
                var DATE_FORMAT = '{{ DATETIME_FORMATS.SHORT_DATE }}'
                var DATETIME_FORMAT = '{{ DATETIME_FORMATS.SHORT_DATETIME }}'
                var TIME_FORMAT = '{{ DATETIME_FORMATS.TIME }}'
            </script>
            <script src="{% static "arctic/dist/assets/js/app.js" %}"></script>
            {{ media.js }}
        {% endblock %}
    </body>
</html>