{% load i18n staticfiles arctic_tags %}

{% comment %}
    Required:
    {{ close_dialog }} - removes dialog

    manual close dialog:
    <a data-close ></a> - closes dialog onclick
{% endcomment %}

<!DOCTYPE html>
<html lang="en">

    <head>
        {% include "arctic/partials/head.html" %}
        {% block head_extras %}{% endblock %}
    </head>

    <body class="dialog {% block body_class %}{% endblock %}" {% if auto_close %} data-auto-close="1"{% endif %}{% if refresh_parent %} data-refresh-parent="1"{% endif %}>
        {% block header %}
            <div class="dialog-header">
                <div class="dialog-header__page-title">
                    {% block title %}{{ page_title }}{% endblock %}
                </div>

                {% block close %}
                <button type="button" class="close dialog-header__close" data-dismiss="modal" aria-label="Close" data-close-dialog>
                    <span aria-hidden="true">&times;</span>
                </button>
                {% endblock %}
            </div>
        {% endblock %}

        <div class="dialog-body js--dialog-scrol-size">
            {% block content %}{% endblock %}
        </div>

        {% block scripts_bottom %}
            <script src="{% static "arctic/dist/assets/js/app.js" %}"></script>
        {% endblock %}
    </body>
</html>
