{% extends "arctic/base.html" %}


{% load i18n arctic_tags staticfiles %}


{% block body_class %}
    {{ block.super }}
    template-detail
{% endblock %}


{% block content %}
    <form action="" method="POST" class="row" enctype="multipart/form-data" data-abide>

        {% csrf_token %}

        <div class="small-12 columns">

            {# tabs #}
            <ul class="tabs" data-tabs id="tabs">
                {% if inlines %}
                    {% for formset in inlines %}
                        <li class="tabs-title">
                            <a href="#{{ formset.prefix }}" aria-selected="false">
                                {{ formset.fk.model|verbose_name_plural }}

                                {% if not formset.is_valid and formset.total_error_count != 0 %}
                                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                                {% endif %}
                            </a>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>

            {# tabs panels #}
            <div class="tabs-content" data-tabs-content="tabs">

                <div class="tabs-panel is-active">
                    {% block form %}
                        {% include "arctic/partials/form_fields.html" with form=form style="horizontal" %}
                    {% endblock %}
                </div>

                {% if inlines %}
                    {% for formset in inlines %}
                        <div class="tabs-panel" id="{{ formset.prefix }}">
                            {{ formset.management_form }}
                            {{ formset.non_form_errors }}

                            {% for form in formset %}
                                {% include "arctic/partials/form_fields.html" with form=form style="horizontal" %}

                                {% if not forloop.last %}
                                    <hr />
                                {% endif %}
                            {% endfor %}

                            {% comment %}
                                {% with formset.empty_form as form %}
                                    <div id="id_empty_form">
                                        {% include "arctic/partials/form_fields.html" with form=form style="horizontal" %}
                                    </div>
                                {% endwith %}
                            {% endcomment %}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>

            {% block extra_forms %} {% endblock %}

            {# form actions #}
            <div class="row">
                <div class="columns small-6">
                    {% if links %}
                        {% for link in links %}
                            <a class="button secondary" href="{% arctic_url link.1 %}">
                                {{ link.0 }}
                            </a>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="columns small-6 text-right">
                    <input type="submit" name="save" value="Submit" class="button" id="submit-id-save" />
                </div>
            </div>

        </div>
    </form>

    {% if inline_views %}
        <div role="small-12 columns">
            {% for view in inline_views %}
                <h3>{{ view.model|verbose_name_plural }}</h3>
                <div id="{{ view.prefix }}">
                    {% subview view %}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% block extra_content %}{% endblock %}

{% endblock %}

