{% extends "arctic/base.html" %}


{% load i18n arctic_tags staticfiles %}


{% block body_class %}
    {{ block.super }}
    template-detail
{% endblock %}


{% block content %}
    <form action="" method="POST" class="row" enctype="multipart/form-data" data-abide>

        {% csrf_token %}

        <div class="small-12 columns">

            {# tabs panels #}
            <div>

                <div>
                    {% block form %}
                        {% include "arctic/partials/form_fields.html" with form=form style="horizontal" %}
                    {% endblock %}
                </div>

                {% if inlines %}
                    {% for formset in inlines %}
                        <div>
                            {{ formset.management_form }}
                            {{ formset.non_form_errors }}

                            {% for form in formset %}
                                {% include "arctic/partials/form_fields.html" with form=form style="horizontal" %}

                                {% if not forloop.last %}
                                    <hr />
                                {% endif %}
                            {% endfor %}

                            {% comment %}
                                {% with formset.empty_form as form %}
                                    <div id="id_empty_form">
                                        {% include "arctic/partials/form_fields.html" with form=form style="horizontal" %}
                                    </div>
                                {% endwith %}
                            {% endcomment %}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>

            {% block extra_forms %} {% endblock %}

            {# form actions #}
            <div class="row">
                <div class="columns small-6">
                    {% if links %}
                        {% for link in links %}
                            <a class="button secondary" href="{% arctic_url link.1 %}">
                                {{ link.0 }}
                            </a>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="columns small-6 text-right">
                    <input type="submit" name="save" value="Submit" class="button" id="submit-id-save" />
                </div>
            </div>

        </div>
    </form>

    {% block extra_content %}{% endblock %}
{% endblock %}

