$marginSmall: 5px;
$marginMedium: 10px;

.selectize-control {
    position: relative;
    margin: 0 0 .05rem; //small margin to fix rendering bug
    background-color: white;
    min-height: 1rem;
    z-index: 2;
}

.selectize-dropdown {
    position: absolute;
    margin: -1px 0 0;
    background: $white;
    border: 1px solid $input-border-color;
    border-top: 0;
    border-radius: 0 0 $border-radius-sm $border-radius-sm;
    z-index: 10;
}

.error .selectize-input {
    background-color: #fef4f4;
    border: 1px solid #fcdddd;
}

.selectize-input {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    min-height: 37px;
    width: 100%;
    padding: 0 6px;
    border: 1px solid $input-border-color;
    border-radius: $border-radius-sm;
    background-color: $white;
    line-height: 1rem;

    input {
        height: auto;
        max-width: 100% !important;
        margin: 0;
        padding: 0;
        line-height: inherit !important;
        text-indent: 0 !important;
        background: none !important;
        border: 0 none !important;
        box-shadow: none !important;
        -webkit-user-select: auto !important;
        -webkit-box-shadow: none !important;

        &::-ms-clear {
            display: none;
        }

        &:focus {
            outline: none !important;
        }
    }

    .item {
        align-self: center;
        line-height: 17px;
        color: $highlight-color;
        margin: 2px 3px 2px 0;
        padding: 2px 4px;
        font-weight: normal;
        background-color: $highlight-background;
        border-radius: $border-radius-sm;
        border: 1px solid transparent;
    }

    .remove {
        color: $highlight-color;
        padding-left: .4rem;
    }
}

.input-active {
    border: 1px solid $custom-select-focus-border-color;
}

.selectize-control.multi {
    .selectize-input {
        .item {
            cursor: pointer;
            border: 1px solid transparent;
        }
    }
}

// dropdown
.selectize-dropdown-header {
    position: relative;
    padding: 5px 8px;
    border-bottom: 1px solid $red;
    background: grey;
    border-radius: $border-radius-sm $border-radius-sm 0 0;
}

.selectize-dropdown-header-close {
    position: absolute;
    top: 50%;
    right: 8px;
    margin-top: -12px;
    color: $gray-dark;
    font-size: 20px !important;
    line-height: 20px;
    opacity: 0.4;

    &:hover {
        color: $black;
    }
}

.selectize-dropdown {
    position: absolute;
    margin-top: -1px;
    font-weight: normal;
    background: $white;
    border: 1px solid $input-border-color;
    border-top: 1px solid $input-border-color;
    border-radius: $border-radius-sm;
    z-index: 10;

    // option
    [data-selectable] {
        padding: $marginSmall $marginMedium;
        cursor: pointer;
        overflow: hidden;

        // highlight characters inside option
        .highlight {
            padding: 0 2px;
            color: $white;
            background: lighten(grey, 20%);
        }
    }

    // option group header
    .optgroup-header {
        padding: $marginSmall $marginMedium;
        color: $gray-dark;
        font-weight: 700;
        cursor: default;
    }

    // highlighted option
    .active {
        color: $gray-dark;
        background-color: $gray-lighter;

        &.create {
            color: $gray-lighter;
        }
    }

    .create {
        color: $orange;
    }
}

.selectize-control.single {

    .item {
        font-size: .875rem !important;
        padding-left: 0 !important;
        background-color: $white;
        color: #292b2c;
        border: none;
    }
}

.selectize-control.single .selectize-input:after {
  position: absolute;
  top: 50%;
  right: 15px;
  display: block;
  width: 0;
  height: 0;
  margin-top: -3px;
  border-color: #808080 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  content: ' ';
}

.selectize-control.single .selectize-input.dropdown-active:after {
  margin-top: -4px;
  border-color: transparent transparent #808080 transparent;
  border-width: 0 5px 5px 5px;
}

.selectize-dropdown-content {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}
