.chosen {

  &-container-single {

    // pulldown styling
    .chosen-single {
      @include form-select;
      box-shadow: 0 0 0 transparent;
    }

    // submenu positioning and behaviour
    &.chosen-with-drop .chosen-drop {
      top: $input-height;
      min-width: 150px;
    }

    // hide chosen chevron, we are using foundation chevron
    .chosen-single > div > b {
      display: none;
    }

    // search
    .chosen-search {
      position: relative;

      input[type="text"] {
        @include form-element;
        background-position: 1000px 1000px;
        margin-bottom: 5px;
      }

      // icon
      &:after {
        content: "\f002";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        position: absolute;
        font-size: 1em;
        top: 50%;
        right: 1em;
        margin: -.9em 0 0;
        z-index: 1;
      }
    }
  }

  // results
  &-container .chosen-results {

    li.highlighted {
      background-color: $green;
      background-image: none;
    }
  }
}


.chosen-container-multi .chosen-choices {
    background-image: none;
    padding: 0.3rem;
    border: 1px solid darken($greyLight, 10%);
}

.chosen-container-active {
    border-shadow: none;
    border-radius: 0;
}

.chosen-container-multi .chosen-choices li.search-choice {
    background-image: none;
    border-radius: 0;
    border-color: darken($greyLight, 10%);
    background-color: lighten($greyLight, 5%);
}

.chosen-container-active .chosen-choices {
  border: 1px solid darken($greyLight, 25%);
  box-shadow: none;
}

.chosen-container-single .chosen-drop {
    border-radius: 0;
}

.chosen-container-single .chosen-single {
    &.chosen-default {
        color: darken($greyLight, 25%);
    }
    font-size: 1em;
}

.chosen-container-multi {
    padding-bottom: 1rem;
}

.chosen-container-multi .chosen-drop {
    margin-top: -1rem;
}