table {
    thead th,
    tbody th {
        border: 1px solid darken($green,5%);
    }

    tbody td {
        border: 1px solid $greyLight;
    }
}

.responsive-table {
    overflow-x: scroll;

    table {
        min-width: 100%;
    }
}
