.table-filters {
    $padding-top: 15px;
    $button-width: 80px;
    $button-margin: 8px;

    padding-top: $padding-top;
    border-top: 1px solid $greyLight;

    @include breakpoint(medium up) {
        position: relative;
        padding-right: $button-margin + $button-width + 10px;

        .columns {
            max-width: 250px;
        }

        input[type='submit'] {
            position: absolute;
            top: $padding-top;
            right: $button-margin;
            width: $button-width;
            text-align: center;
        }
    }
}