.tabs {
    border-bottom: 2px solid $greyLight;
    
    .tabs-title {
        position: relative;
        text-transform: uppercase;

        &:not(:last-child) {
            margin-right: $marginLarge;
        }

        a {
            color: $greyDark;
        }

        &.is-active,
        &:hover {
            a {
                color: $green;
            }

            &:after {
                position: absolute;
                display: block;
                bottom: -2px;
                left: 0;
                height: 2px;
                width: 100%;
                content: "";
                background: $green;
            }
        }
    }
}