.tile {
    margin-bottom: 1em;
    cursor: pointer;

    // @media screen and (min-width: 74em) {
    //     flex: 0 0 calc(100% / 6);
    // }

    img {
        margin-bottom: 1em;
        width: 100%;
    }

    &:hover img {
        opacity: 0.85;
    }


    // ellipses hack for max 2 rows
    h5 {
        /* autoprefixer: off */
        display: block;
        display: box;
        display: -webkit-box;

        font-size: 1.25em;
        line-height: 1.5em;
        max-height: 3em;
        overflow: hidden;
        line-clamp: 2;
        -webkit-line-clamp: 2;
        box-orient: vertical;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        /* autoprefixer: on */
    }
}