{% load arctic_tags %}

<div class="row justify-content-center">
    <div class="col-sm-12">
        {% if layout %}
            {# TODO Move layout to it's own template file #}
            {% for index, layout_item in layout.items %}
                <fieldset class="fieldset-default arctic-card {% if layout_item.fieldset.collapsible %} test-collapse{% endif %}">
                    <div class="row justify-content-center">
                        <div class="col-sm-12 col-md-8">
                            {% if layout_item.fieldset.title or layout_item.fieldset.description %}
                                <div class="arctic-card__header">
                            {% endif %}
                                {% if layout_item.fieldset.title %}
                                    <h6 class="arctic-card__title">{{ layout_item.fieldset.title }}</h6>
                                {% endif %}
                                {% if layout_item.fieldset.description %}
                                    <p class="arctic-card__subtitle">{{ layout_item.fieldset.description }}</p>
                                {% endif %}
                            {% if layout_item.fieldset.title or layout_item.fieldset.description %}
                                </div>
                            {% endif %}
                        <div class="arctic-card__content">
                            {% for row in layout_item.rows %}
                                <div class="row {% if field.errors %}error{% endif %}">
                                    {% if row|typename == 'dict' %}
                                        {% include 'arctic/partials/form_field.html' with field=row.field style=style column=row.column %}
                                    {% else %}
                                        {% for field in row %}
                                            {% include 'arctic/partials/form_field.html' with field=field.field style=style column=field.column %}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </fieldset>
            {% endfor %}
        {% else %}
            {# TODO Move this section to it's own template file #}
            <fieldset class="fieldset-default arctic-card">
                <div class="row justify-content-center">
                    <div class="col-sm-12 col-md-8">
                        {% for field in form %}
                            {% include 'arctic/partials/form_field.html' with field=field%}
                        {% endfor %}
                    </div>
                </div>
            </fieldset>
        {% endif %}
    </div>
</div>
