{% load arctic_tags %}

<div class="row align-center">
    <div class="small-12 medium-8 columns">
        {% if layout %}
            {% for fieldset, rows in layout.items %}

                {% if fieldset.0|typename != 'int' %}
                    {% if fieldset.2 %}
                        <fieldset class="collapse">
                    {% else %}
                        <fieldset>
                    {% endif %}
                        <legend>{{ fieldset.0 }}</legend>
                {% endif %}

                {% if fieldset.1 %}
                    {{ fieldset.1 }}
                {% endif %}

                {% for row in rows %}
                    <div class="row {% if field.errors %}error{% endif %}">
                        {% if row|typename == 'dict' %}
                            {% include 'arctic/partials/form_field.html' with field=row.field style=row.column %}
                        {% else %}
                            {% for field in row %}
                                {% include 'arctic/partials/form_field.html' with field=field.field style=field.column %}
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endfor %}

                {% if fieldset.0 %}
                    </fieldset>
                {% endif %}
            {% endfor %}

        {% else %}

            {% for field in form %}
                {% include 'arctic/partials/form_field.html' with field=field%}
            {% endfor %}

        {% endif %}
    </div>
</div>
