{% load i18n %}


{% if form.is_bound and not form.is_valid %}
    <div class="row">
        <div class="col">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {% trans "Oops! We found some errors. Please check the error messages below and try again." %}
            </div>
        </div>
    </div>
{% endif %}


{% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
        {# todo #}
        <p>{{ error }}</p>
    {% endfor %}
{% endif %}
