{% load i18n staticfiles arctic_tags %}

<ul class="side-menu">
    {% for key, value in menu.items %}
        {% if value.submenu %}
            <li class="has-sub sub--collapsed{% if value.active %} active{% endif %}">
                {% if not value.active %}
                    <a href="{% url value.url %}">
                {% endif %}
                        <i class="fa {{ value.icon }}"></i>
                        <span>{% trans key %}</span>
                {% if not value.active %}
                    <i class="fa fa-angle-left right"></i>
                    </a>
                {% else %}
                    <i class="fa fa-angle-down right"></i>
                {% endif %}
                <ul>
                    {% for sub_key, sub_value in value.submenu.items %}
                        <li {% if sub_value.active %}class="active" {% endif %}>
                            {% if not sub_value.active %}
                                <a href="{% url sub_value.url %}">
                            {% endif %}
                                    {% trans sub_key %}
                            {% if not sub_value.active %}
                                </a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% elif value.url %}
            <li{% if value.active %} class="active"{% endif %}>
                {% if not value.active %}
                    <a href="{% url value.url %}">
                {% endif %}
                        <i class="fa {{ value.icon }}"></i>
                        <span>{% trans key %}</span>
                {% if not value.active %}
                    </a>
                {% endif %}
            </li>
        {% endif %}
    {% endfor %}
</ul>
