{% load arctic_tags %}
{% load i18n %}

{% if paginator.num_pages > 1 %}
    <div class="row justify-content-center">
        <div class="col col-auto">
            <ul class="pagination" role="navigation" aria-label="Pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?{% get_parameters page %}page={{ page_obj.previous_page_number }}" aria-label="Previous page">
                            {% trans "Previous page" %}
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">
                            {% trans "Previous page" %}
                        </spam>
                    </li>
                {% endif %}

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?{% get_parameters page %}page={{ page_obj.next_page_number }}" aria-label="Next page">
                            {% trans "Next page" %}
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        </span class="page-link">
                            {% trans "Next page" %}
                        </span>
                    </li>
                {% endif %}

            </ul>
        </div>

        <div class="col col-auto">
            <div class="pagination-info">
                {% blocktrans with start=page_obj.start_index end=page_obj.end_index count=paginator.count %}
                    {{ start }} to {{ end }} of {{ count }} entries
                {% endblocktrans %}
            </div>
        </div>
    </div>
{% endif %}
