<div data-tree="//localhost:8000/static/arctic/jstree.json" data-create="/categories/create/">
    <form data-tree-search>
        <input type="text" />
        <input type="submit" value="Search" />
    </form>

    <div data-tree-container></div>

    <div class="tiny reveal" id="symbolic" data-reveal data-symbolic>
        pop-up with symbolic data
    </div>
</div>


<script src="/static/arctic/bower_components/jstree/dist/jstree.min.js"></script>
<script src="/static/arctic/src/assets/js/components/tree.js"></script>