<div
    data-tree="/categories/navigation-ajax"
    data-create-category="/categories/create/?dialog=true"
    data-create-symbolic="/categories/create-symbolic/?dialog=true"
>

    <form data-tree-search>
        <input type="text" placeholder="Search within visible categories" />
        <input type="submit" value="Search" class="button" />
    </form>

    <div data-tree-container></div>

    <div class="tiny reveal external" data-reveal>
        <iframe src="/categories/create-symbolic/?dialog=true"></iframe>
    </div>
</div>