{% if field.widget.attrs.type == 'checkboxinput' or field.widget.attrs.type == 'radioselect' %}
    <label for="{{ field.auto_id }}" class="form-check-label {% if field.field.required %}required{% endif %}">
        {% include "arctic/partials/form_field_parts/render_field.html" %}
        {% include "arctic/partials/form_field_parts/field_label.html" %}
    </label>
{% else %}
    <div class="form-group float-label">
        {{ field }}
        <label for="{{ field.auto_id }}">
            {% include 'arctic/partials/form_field_parts/field_label.html' %}
        </label>
    </div>
{% endif %}
