{% extends "arctic/base_list.html" %}

{% load i18n staticfiles arctic_tags %}

{% block scripts_bottom %}
    {{ block.super }}
    var template = '<i title="{{ key }}" style="color:{{ value }}" class="fa fa-circle"></i>';
    var dict = {"False": "red", "True": "green"};
    listWidget('boolean-circle', template, dict);

    var template = '<img class="flag-{{ key }}" title="{{ key }}" alt="{{ key }} flag" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAeAQMAAABkE86eAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYBh6AAAAtAABsa9cTAAAAABJRU5ErkJggg=="> ';
    listWidget('flag', template, false, ' ');
{% endblock %}
