.accordion {

}

.accordion-item {
    > a {
        font-size: $fontSizeMedium;
        font-weight: 600;
    }

    &:hover,
    &.is-active {
        background: $highlight-background;

        > a {
            color: $white;        }
    }
}