body {
    color: $textColorDark;
    font-family: $fontFamilyDefault;
    font-size: $fontSizeDefault;
    background: $pageBackground;
}

.datepicker th {
    color: $textColorDark;
}

// off canvas foundation content reset
.off-canvas-content {
    padding: 75px $marginLarge $marginLarge;
    background: none;
    box-shadow: 0 0 0 0;
}

// page content wrapper
.block-wrapper {
    padding: $marginLarge;
    background: $white;

    .dialog & {
        padding: $marginExtraLarge $marginLarge;
    }

    h3 {
        margin-bottom: $marginExtraLarge;
        text-align: center;
    }

    h4 {
        text-align: center;
    }
}

.expand {
    width: 100%;
}

.inline-widget {
    a {
        display: block;
        width: 100%;
    }

    p {
        visibility: hidden;
    }
}

.pagination-info {
    float: right;
    padding-right: rem-calc(10);
}

.badge {
    border-radius: $global-radius;
    margin: .155rem .2rem .155rem 0;
    color: darken($greyDark, 25%);
    background: $highlight-background;
    opacity: 0.65;
}