.btn-menu {
    $hambuger-line-width: 32px;
    $hamburger-line-height: 2px;

    display: inline-block;
    width: $hambuger-line-width;
    padding: $marginMedium 0;
    transition: all, .5s;
    text-align: left;
    text-indent: -999px;
    overflow: hidden;

    span {
        position: relative;

        // styling hamburger lines
        &,
        &::before,
        &::after {
            display: block;
            background-color: $white;
            height: $hamburger-line-height;
            width: $hambuger-line-width;
        }

        &::before,
        &::after{
            content: "";
            position: absolute;
            bottom: 0;
            transform-origin: 50%;
            transition: all, .5s;
        }

        &::before {
            transform: translateY(-8px);
        }

        &::after{
            transform: translateY(8px);
        }
    }

    // if hamburger is not active
    &:hover:not(.actived){
        span {
            &::before {
                transform: translateY(-10px);
            }

            &::after {
                transform: translateY(10px);
            }
        }
    }

    // if hamburger is active
    &.actived {
        overflow: visible;

        span {
            // hide middle line
            background-color: transparent;

            // animate other lines
            &::before{
                animation: top-bar .5s;
                animation-fill-mode: forwards;
            }

            &::after{
                animation: bottom-bar .5s;
                animation-fill-mode: forwards;
            }
        }
    }
}


// animations
@keyframes top-bar {
    50% {
        transform: translateY(0);
    }

    100% {
        transform: rotate(45deg) translateY(0);
    }
}

@keyframes bottom-bar {
    50%{
        transform: translateY(0);
    }

    100% {
        transform: rotate(-45deg) translateY(0);
    }
}