.callout {
    &.primary {
        $color: $blueMedium;

        background: lighten($color, 50%);
        border: 1px solid lighten($color, 40%);
    }

    &.secondary {
        $color: $greyMedium;

        background: lighten($color, 50%);
        border: 1px solid lighten($color, 40%);
    }

    &.success {
        $color: $green;

        background: lighten($color, 40%);
        border: 1px solid lighten($color, 30%);
    }

    &.warning {
        $color: $orange;

        background: lighten($color, 33%);
        border: 1px solid lighten($color, 23%);
    }

    &.alert {
        $color: $red;

        background: lighten($color, 35%);
        border: 1px solid lighten($color, 30%);
    }

    &.small {
        font-size: $fontSizeSmall;

        h5 {
            font-size: $fontSizeMedium;
            font-weight: $fontWeightBold;
        }
    }
}