.dark-mode-toggle {
    margin-top: -4px;
    margin-right: 16px;

    .btn {
        &.btn-light {
            &.active {
                background-color: transparent;
                border-color: transparent;
            }

            &.focus {
                box-shadow: none;
            }
        }
        &:hover {
            background-color: transparent;
            border-color: transparent;

            .fa-sun-o {
                opacity: 1;
            }

            .fa-moon-o {
                opacity: 1;
            }
        }
    }

    &__icon {
        position: relative;
        &.fa-sun-o {
            color: orangered;
        }
        &.fa-moon-o {
            color: darkblue;
            opacity: 0.3;
        }
    }
}

body.dark {
    .dark-mode-toggle {
        .btn {
            &.btn-light {
                background-color: transparent;
                border-color: transparent;

                &.active {
                    background-color: transparent;
                    border-color: transparent;
                }

                &.focus {
                    box-shadow: none;
                }
            }
            &:hover {
                background-color: transparent;
                border-color: transparent;

                .fa-sun-o {
                    opacity: 1;
                }

                .fa-moon-o {
                    opacity: 1;
                }
            }
        }

        &__icon {
            &.fa-moon-o {
                color: lightskyblue;
                opacity: 1;
            }
            &.fa-sun-o {
                opacity: 0.3;
            }
        }
    }
}
