.form-control {
    padding: $input-btn-padding-y $input-btn-padding-x;
}

.float-label {
    position: relative;
    overflow: hidden;

    input[type=text],
    input[type=password],
    input[type=email],
    input[type=search],
    input[type=password],
    input[type=date],
    input[type=number],
    textarea,
    select {
        width: 100%;
        position: relative;
        z-index: 1;
        outline: 0;
        padding: .8rem .75rem;

        &:focus,
        &:valid {
            padding-top: 1.2rem;
            padding-bottom: .4rem;
        }

        &:focus + label,
        &:valid + label {
            top: .3rem;
            font-size: 75%;
        }
    }

    label {
        position: absolute;
        top: .75rem;
        left: .75rem;
        transition: all 0.2s;
        width: 100%;
        z-index: 2;
        white-space: nowrap;
    }

    select + label {
        border: 1px solid blue;

            top: .3rem !important;
            font-size: 75% !important;
    }
}

.float-label--static {

    label {
        top: .3rem;
        font-size: 75%;
    }
}
