.float-label {

    input[type='text'],
    input[type='search'],
    input[type='email'],
    input[type='url'],
    input[type='tel'],
    input[type='password'],
    input[type='number'],
    input[type='color'],
    select,
    select:not([size]):not([multiple]) {
        height: 45px;
    }

    .form-group {
        position: relative;

        input[type=text],
        input[type=password],
        input[type=email],
        input[type=search],
        input[type=password],
        input[type=date],
        input[type=number],
        textarea,
        select {
            width: 100%;
            position: relative;
            z-index: 1;
            outline: 0;
            padding: .8rem .75rem;

            &:focus,
            &:valid {
                padding-top: 1.2rem;
                padding-bottom: .4rem;
            }

            &:focus + label,
            &:valid + label {
                top: .3rem;
                font-size: 75%;
            }
        }

        label {
            position: absolute;
            top: .75rem;
            left: .75rem;
            transition: all 0.2s;
            width: 100%;
            z-index: 2;
            white-space: nowrap;
            opacity: .75;
        }

        .form-check-label {
            position: relative;
            top: 12px;
            left: 0;

            &--inline {
                top: -6px;;
            }
        }
    }

    .styled-select select {
        padding-top: 1.2rem !important;
    }

    .styled-select label,
    .styled-select + label {
        top: .3rem;
        font-size: 75%;
    }

    .selectize-control {

        .selectize-input {
            padding: 17px $input-btn-padding-x 0;
            min-height: 45px;

            .item {
                align-self: flex-end;
                margin: 2px 3px 1px 0;
                padding: 1px 8px;
                font-size: 12px;
            }

            input[type=text] {
                height: 1px;
                padding: .8rem 0 .4rem;
                font-size: 12px;
            }
        }
    }

    .selectize-control ~ label {
        pointer-events: none;
        user-select: none;
    }

    .selectize-control.single {

        .item {
            padding-bottom: .2rem;
        }
    }

    
    // support for SimpleMDE editor with float labels
    .form-group div.editor-statusbar+label {
        font-size: 75%;
        top: .25rem;
    }

    .editor-toolbar {
        padding: 9px 10px 0 10px;
    }

    .editor-toolbar:after {
        margin-top: 5px;
    }
}
