input[type='text'],
input[type='search'],
input[type='email'],
input[type='url'],
input[type='tel'],
input[type='password'],
input[type='number'],
input[type='color'],
textarea,
select,
select:not([size]):not([multiple]) {
    @extend .form-control;
}

input[type='checkbox'] {
    margin-right: 5px;
}

textarea {
    height: auto;
}

.tabular {
    label {
        padding-left: 0px;
        @include media-breakpoint-up(md) {
        padding-left: 2px;
        }
    }
}

label {
    display: block;
    margin: 0;
    opacity: .75;
    padding-left: 2px;

    .input {
        opacity: 1;
    }
}

.fieldset-default {
    position: relative;
    padding: 24px 0;
}

.form-block {
    margin-bottom: 1rem;
}

.form-size {
    max-width: 100%;
    padding: 0 15px;
    @include media-breakpoint-up(md) {
        max-width: 75%;
        margin: auto;
        padding: 0;
    }
}

.form-size-full {
    width: 100%;
    padding: 12px;
}

//help-text
.help-text {
    margin-top: -.4rem;
    margin-bottom: 0.6rem;
    font-size: .7rem;
    font-style: italic;
    opacity: 0.55;
}


.collapse-control {
    position: absolute;
    width: 20px;
    height: 20px;
    top: -2px;
    right: 6px;
    padding-left: 6px;
    cursor: pointer;

    &.collapsed {
        .fa {
            transform: rotate(90deg);
        }
    }
}

//Custom select dropdowns
.styled-select {
    position: relative;
    overflow: hidden;

    &::after {
        position: absolute;
        bottom: 15px;
        right: 15px;
        display: block;
        width: 0;
        height: 0;
        margin-top: -3px;
        border-color: #808080 transparent transparent transparent;
        border-style: solid;
        border-width: 5px 5px 0 5px;
        content: ' ';
    }
}

.styled-select select {
    border: none;
    background: $white;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
