input[type='text'],
input[type='search'],
input[type='email'],
input[type='url'],
input[type='tel'],
input[type='password'],
input[type='number'],
input[type='color'],
textarea,
select,
select:not([size]):not([multiple]) {
    @extend .form-control;
}

.invalid-form-field {
    input[type='text'],
    input[type='search'],
    input[type='email'],
    input[type='url'],
    input[type='tel'],
    input[type='password'],
    input[type='number'],
    input[type='color'],
    textarea,
    select,
    select:not([size]):not([multiple]) {
        @extend .is-invalid;
    }

    label {
        color: $red;
    }
}

input[type='checkbox'] {
    margin-right: 5px;
}

textarea {
    height: auto;
}

.tabular {
    label {
        @include media-breakpoint-up(md) {
        padding-left: 0;
        }
    }
}

label {
    display: block;
    margin: 0;
    padding-left: 2px;
}

.form-check {
    height: $input-height;
    ul {
        padding-left: 0;
    }
}

.form-control {
    padding: $input-btn-padding-y $input-btn-padding-x;
}

.form-check-label {
    position: relative;
    top: 27px;
    left: 0;

    .input {
        opacity: 1;
    }

    &--inline {
        top: -6px;;
    }
}

.fieldset-default {
    position: relative;
    padding: 24px 0;
}

.form-block {
    margin-bottom: 1rem;
}

.form-size {
    max-width: 100%;
    padding: 0 15px;
    @include media-breakpoint-up(md) {
        max-width: 75%;
        margin: auto;
        padding: 0;
    }
}

.form-size-full {
    width: 100%;
    padding: 12px;
}

.optional-field-text {
    opacity: 0.55;
}

//overwrite display none from bootstraap
.invalid-feedback {
    display: block;
}

.tabular {
    .invalid-feedback {
        margin-top: 0;
    }
}

.collapse-control {
    position: absolute;
    width: 100%;
    height: 25px;
    cursor: pointer;

    .fa {
        float: right;
        position: relative;
        right: 6px;
        top: 4px;
    }

    &.collapsed {
        .fa {
            transform: rotate(90deg);
        }
    }
}

//Custom select dropdowns
.styled-select {
    position: relative;
    overflow: hidden;

    &:after {
        position: absolute;
        bottom: 15px;
        right: 15px;
        display: block;
        width: 0;
        height: 0;
        margin-top: -3px;
        border-color: #808080 transparent transparent transparent;
        border-style: solid;
        border-width: 5px 5px 0 5px;
        content: ' ';
        pointer-events: none;
        z-index: 1;
    }
}

.styled-select select {
    border: none;
    background: $white;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

//search forms

form.search-form {
    padding: 0;
    margin: 0;
    float: right;
}

.popover {
    max-width: none; //remove max width from bootstrap
    width: 100%; // 80% from default search form
    @include media-breakpoint-up(md) {
        width: 80%;
    }
}

.arctic_toggle_form_button {
    &:focus, &.btn-secondary:focus {
        outline-style:none;
        box-shadow: none;
        border-color:transparent;
    }
}


// Restore default list and quote stylings in form-group to display correct
// styling when using rich text editors.

.form-block {
    ol, ul {
        padding-left: 20px;
    }

    ol li {
        list-style: decimal;
    }

    ul li {
        list-style: disc;
    }

    blockquote {
        padding-left: 1rem;
    }

    h1, h2, h3, h4, h5 {
        margin-bottom: 1rem;
    }
}


.simple-search {
    .spacer {
        margin-right: 2em;
    }

    input {
        width: auto;
        vertical-align: middle;
        display: inline-block;
    }

    [js-datepicker] {
        width: 7.5em;
    }

    [js-timepicker] {
        width: 4.5em;
    }

    [js-datetimepicker] {
        width: 10.4em;
    }
}

.search-input {
    margin:0;
    padding: 0;
    display: inline-block;
    margin-right: -26px;
    vertical-align: middle;

    .search-query {
        width: auto;
        display: inline-block;
        margin-bottom: 0;
        border-radius: 3px;
    }

    button {
        border: 0;
        background: none;
        padding: 2px 5px;
        margin-top: -2px;
        position: relative;
        left: -34px;
        margin-bottom: 0;
        border-radius: 3px;
    }

    .search-query:focus + button {
        z-index: 3;
    }
}

.quick-filters {
    background-color: white;

    .btn-outline-secondary {
        color: $btn-secondary-color;
    }

    .btn-outline-secondary,
    .btn-outline-secondary:not(:disabled):not(.disabled).active {
        border-color: $btn-secondary-border-color;
    }
    .btn-outline-secondary:hover {
        color: $btn-secondary-color;
        background-color: #e6e6e6;
    }
}

.better-file {
    position: relative;
    display: inline-block;
    width: 100%;
    //height: $custom-file-height;
    margin-bottom: 0;

    img {
        max-height: 10rem;
        max-width: calc(100% - 2rem);
        display: block;
        margin: auto;
    }

    .better-file-input {
        position: relative;
        z-index: 2;
        width: 100%;
        //height: $custom-file-height;
        margin: 0;
        opacity: 0;

        &:focus ~ .better-file-label {
            border-color: $custom-file-focus-border-color;
            box-shadow: $custom-file-focus-box-shadow;
        }

        &::after {
          border-color: $custom-file-focus-border-color;
        }
    }

    .better-file-label {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      z-index: 1;
      //height: $custom-file-height;
      padding: $custom-file-padding-y $custom-file-padding-x;
      line-height: $custom-file-line-height;
      color: $custom-file-color;
      background-color: $custom-file-bg;
      border: $custom-file-border-width solid $custom-file-border-color;
      @include border-radius($custom-file-border-radius);
      @include box-shadow($custom-file-box-shadow);
    }

    .better-file-clear-checkbox,
    .better-file-clear {
        display: none;
    }

    a.better-file-clear {
        position: absolute;
        right: $custom-file-padding-x;
        top: $custom-file-padding-y;
        z-index: 3;
        color: $custom-file-color;
    }
}

// Inlines
.inline-formset {
    // The last child is the add inline button
    // and before last is the hidden form
    .inline-form:nth-last-child(3) {
        .inline-separator {
            display: none;
        }
    }
}
