input[type='text'],
input[type='search'],
input[type='email'],
input[type='url'],
input[type='tel'],
input[type='password'],
input[type='number'],
input[type='color'],
textarea,
select,
select:not([size]):not([multiple]) {
    @extend .form-control;
}

.invalid-form-field {
    input[type='text'],
    input[type='search'],
    input[type='email'],
    input[type='url'],
    input[type='tel'],
    input[type='password'],
    input[type='number'],
    input[type='color'],
    textarea,
    select,
    select:not([size]):not([multiple]) {
        @extend .is-invalid;
    }

    label {
        color: $red;
    }
}

input[type='checkbox'] {
    margin-right: 5px;
}

textarea {
    height: auto;
}

.tabular {
    label {
        @include media-breakpoint-up(md) {
        padding-left: 0;
        }
    }
}

label {
    display: block;
    margin: 0;
    padding-left: 2px;
}

.form-check {
    ul {
        padding-left: 0;
    }
}

.form-control {
    padding: $input-btn-padding-y $input-btn-padding-x;
}

.form-check-label {
    position: relative;
    top: 27px;
    left: 0;

    .input {
        opacity: 1;
    }

    &--inline {
        top: -6px;;
    }
}

.fieldset-default {
    position: relative;
    padding: 24px 0;
}

.form-block {
    margin-bottom: 1rem;
}

.form-size {
    max-width: 100%;
    padding: 0 15px;
    @include media-breakpoint-up(md) {
        max-width: 75%;
        margin: auto;
        padding: 0;
    }
}

.form-size-full {
    width: 100%;
    padding: 12px;
}

//help-text
.help-text {
    margin-top: -.4rem;
    margin-bottom: 0.6rem;
    font-size: .7rem;
    font-style: italic;
    opacity: 0.55;
}

//overwrite display none from bootstraap
.invalid-feedback {
    display: block;
    margin-top: -10px;
}

.tabular {
    .invalid-feedback {
        margin-top: 0;
    }
}

.collapse-control {
    position: absolute;
    width: 100%;
    height: 25px;
    cursor: pointer;

    .fa {
        float: right;
        position: relative;
        right: 6px;
        top: 4px;
    }

    &.collapsed {
        .fa {
            transform: rotate(90deg);
        }
    }
}

//Custom select dropdowns
.styled-select {
    position: relative;
    overflow: hidden;

    &::after {
        position: absolute;
        bottom: 15px;
        right: 15px;
        display: block;
        width: 0;
        height: 0;
        margin-top: -3px;
        border-color: #808080 transparent transparent transparent;
        border-style: solid;
        border-width: 5px 5px 0 5px;
        content: ' ';
        pointer-events: none;
    }
}

.styled-select select {
    border: none;
    background: $white;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

//Advanced search from

.popover {
    max-width: none; //remove max width from bootstrap
    width: 100%; // 80% from default search form
    @include media-breakpoint-up(md) {
        width: 80%;
    }
}

// Restore default list and quote stylings in form-group to display correct
// styling when using rich text editors.

.form-block {
    ol, ul {
        padding-left: 20px;
    }

    ol li {
        list-style: decimal;
    }

    ul li {
        list-style: disc;
    }

    blockquote {
        padding-left: 1rem;
    }

    h1, h2, h3, h4, h5 {
        margin-bottom: 1rem;
    }
} 
