.primary-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 50px;
    padding: 0 $marginLarge;
    color: $white;
    background: $topbar-background;
    z-index: 10;

    .logo {
        img {
            max-height: 40px;
        }
    }

    a {
        color: $white;
    }
}