header {
    padding: 1em 0 1em 0;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.header__title {
    font-size: $font-size-lg;
    display: inline;
}

.header__menu {
    float: right;
    padding: 0;

    .nav-link {
        padding: 0;
    }
}
