.is-dropdown-submenu-parent.is-active {
    background-color: rgba(0,0,0,0.15);

}

.dropdown.menu>li.is-dropdown-submenu-parent.is-active>a:hover {
    background-color: transparent;
};

.primary-header .dropdown.menu {

    a {
        display: block;
        padding: 0 0 0 0.5rem;
        line-height: 50px;

        &:hover {
            background-color: rgba(0,0,0,0.15);
        }
    }

    li .is-active a:hover {
        background-color: transparent;
    }

    .submenu {
        box-shadow: 0 0 10px rgba(0, 0, 0, .1);
        background-color: lighten($greyLight, 5%);
        border: $dropdown-border;
        border-top: 0;

        a {
            padding: $marginSmall $marginLarge;
            color: $textColorDark;
            font-size: inherit;
            line-height: 24px;
        }

        a:hover {
            background-color: $primary-color;
            color: $white;
        }

    }
}