label {
    color: inherit;
    font-size: inherit;

    .error & {
        color: $red;
    }

    &.required {
        font-weight: bold;
    }
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea {
    color: $greyDark;
    font-weight: 400;
    font-size: $fontSizeDefault;
    border-radius: $global-radius;
    box-shadow: 0 0 0 0;

    &:focus {
        border-color: darken($greyLight, 25%);
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    }

    &:disabled,
    &[readonly] {
        color: $greyMedium;
        background: $greyLightest;
    }

    &:disabled {
        cursor: not-allowed;
    }
}

// slider
input[type="range"] {
    &:focus {
        border: none;
        outline: none;
    }
}

// inline date
.field__date {
    text-align: center;
    line-height: $input-height;

    input {
        width: 45%;
    }

    input:first-child {
        float: left;
    }

    input:last-child {
        float: right;
    }
}

// select
select {
    color: $greyDark;
    border-radius: $global-radius;
    font-size: inherit;
}

// error
input:not([type="submit"]),
textarea,
select {
    .error & {
        @extend .callout.alert;
    }
}

.help-text {
    margin-top: -.7rem;
    margin-bottom: 0.6rem;
    font-size: .7rem;
    font-style: italic;
    opacity: 0.55;
}


.fieldset-default {
    border: 2px solid $greyLight;
    border-radius: $global-radius;
    padding: $marginLarge;
    margin-bottom: 1rem;
}

.fieldset-default legend {
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
}

.fieldset-default p {
    padding: 0 0 1rem 0;
    margin: -1.2rem 0 0 0;
    font-style: italic;
    font-size: .7rem;

    &:not(:first-child) {
        margin: -1.2rem 0 0 0;
    }
}

.visiblity-checkbox {
    position: relative;
    overflow: hidden;
    display: inline;
    padding-right: 1em;

    input {
        // position: absolute;
        display: none;
        top: 10em;
        z-index:-10;
    }

    input + span:before {
        content: "\f070";
        font-family: $fontFamilyIcon;
        color: lighten($greyMedium,15%);
    }

    input:checked + span:before {
        content: "\f06e";
        color: $black;
    }
}
