.paginator-block {
    float: right;
}

.list-tag {
    color: $highlight-color;
    background-color: $highlight-background;
    padding: .05em .2em;
    border-radius: $border-radius-sm;
    margin: .20em;
    float: left;
    font-size: $font-size-xs;
    opacity: .8;
}

.list-actions {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    > a {
        font-size: $font-size-xs;
        padding: 0.1em 0.4em;
        opacity: 0.6;
        margin: 0 1px;
    }
}

.table {
    thead tr .show-on-hover {
        visibility: hidden;
    }

    thead tr:hover .show-on-hover {
        visibility: visible;
    }

    tr:hover .list-actions .list-actions-placeholder {
        display: none;
    }
}

.list-actions-placeholder {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    @include media-breakpoint-up(lg) {
        display: block;
    }
}


tbody tr {
    .list-actions-placeholder {
        background-color: $table-bg;
    }
    &:nth-child(odd) {
        .list-actions-placeholder {
            background-color: $table-accent-bg;
        }
    }
}

.list-inline-search {
    margin-bottom: $form-group-margin-bottom;
}
