.table {
    border-radius: $border-radius;
    margin-bottom: 0;
    thead th,
    tbody th {
        border-top: none;
        font-weight: normal;
        font-size: 12px;
        text-transform: uppercase;
        color: $gray-medium;
        a {
            color: $gray-medium;
            white-space: nowrap;
        }
    }

    thead tr {
        .show-on-hover {
            visibility: hidden;
        }
        &:hover {
            .show-on-hover {
                visibility: visible;
            }
        }
    }

    tbody tr {
        .list-actions-placeholder {
            background-color: $table-bg;
        }
        &:nth-child(odd) {
            .list-actions-placeholder {
                background-color: $table-accent-bg;
            }
        }
        &:hover {
            .list-actions .list-actions-placeholder {
                    display: none;
                }
        }
    }

    td {
        vertical-align: middle;
    }
}

.table-responsive {
    overflow-x: auto; //turn overflow on on all screen resolutions
}

.clickable-cell {
    a {
        display: block;
        padding: $table-cell-padding;
        margin: #{-$table-cell-padding};
    }
}

.list-tag {
    color: $highlight-color;
    background-color: $highlight-background;
    padding: 0px 4px;
    border-radius: $border-radius-sm;
    margin: 2px;
    float: left;
    font-size: $font-size-xs;
    opacity: .8;
}

.list-actions {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    float: right;
    > a {
        font-size: $font-size-xs;
        padding: 0.1em 0.4em;
        opacity: 0.6;
        margin: 0 1px;
    }
}

.list-actions-placeholder {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    @include media-breakpoint-up(lg) {
        display: block;
    }
}

.list-inline-search {
    margin-bottom: $form-group-margin-bottom;
}

.paginator-block {
    float: right;
}

.pagination-info {
    margin-bottom: 1rem;
    padding: .45rem 0;
}

a.page-link, a.page-link:hover {
    color: $body-color;
}

.page-item.disabled .page-link {
    opacity: 0.60;
}

.nav-tabs {
    margin-bottom: 1.5rem;
}

.nav-tabs .nav-link {
    text-transform: uppercase;
    font-size: 12px;
}

.input-group-addon {
    background-color: white;
}
