.paginator-block {
    float: right;
}

.list-tag {
    color: $highlight-color;
    background-color: $highlight-background;
    padding: .05em .2em;
    border-radius: $border-radius-sm;
    margin: .20em;
    float: left;
    font-size: $font-size-xs;
    opacity: .8;
}