/*
 * Off Canvas
 * --------------------------------------------------
 */

$sidebar-width: 15em;


@each $bp in map-keys($grid-breakpoints) {
  .hidden-#{$bp}-up {
    @include media-breakpoint-up($bp) {
      display: none !important;
    }
  }
  .hidden-#{$bp}-down {
    @include media-breakpoint-down($bp) {
      display: none !important;
    }
  }
}


@include media-breakpoint-down(sm) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -100%; /* 12 columns */
  }

  .row-offcanvas-right.active
  .sidebar-offcanvas {
    right: -$sidebar-width; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -100%; /* 12 columns */
  }

  .row-offcanvas-left.active
  .sidebar-offcanvas {
    left: -$sidebar-width; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: $sidebar-width; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: $sidebar-width; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: $sidebar-width; /* 6 columns */
  }
}


#sidebar {
    max-width: $sidebar-width;
    min-width: $sidebar-width;
    min-height: 100vh;
    background-color: $sidebar-background;
    color: $sidebar-color;
}

@mixin active-menu-item {
    position: relative;
    color: rgba(0, 0, 0, 0.5);

    > :after {
        border-right: 0.8rem solid $body-bg;
        border-top: 0.8rem solid transparent;
        border-bottom: 0.8rem solid transparent;
        content: "";
        display: inline-block;
        position: absolute;
        right: -0.95rem;
        top: 0px;
    }

}

.sidebar__menu {
    list-style: none;
    padding-left: 0;

    >li a {
        color: $sidebar-color;
        display: block;
        padding: .25rem;

        &:hover {
            background: rgba(0, 0, 0, 0.07);
        }

        &.no-sub.active {
            @include active-menu-item;
        }

        >.menu__arrow {
            float: right;
            padding-top: 2%;
        }

    }
}

.sidebar__submenu {
    list-style: none;
    padding-left: 0;
    display: none;

    >li a {
        padding: .25rem .25rem .25rem 1.25rem;

        &.active {
            @include active-menu-item;
        }
    }

    &.active {
        display: block;
    }
}

.sidebar__icon {
    display: inline-block;
    width: 1.2rem;
}

.sidebar__header {
    text-align: center;
    padding: 1em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 1em;

    img {
        max-width: 100%;
        max-height: 3em;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    a {
        color: $sidebar-color;
    }

    h1 {
        font-size: $font-size-lg;
        font-weight: normal;
        padding-top: 0.5em;
    }
}
