.slider {
    background: $greyLightest;
}

.slider-handle {
    background: $green;
    border-radius: 50%;
    
    &:hover {
        background: darken($green, 10%);
    }
}

.slider-fill {
    background: lighten($green, 25%);
}