.slider {
    background: $greyLightest;
}

.slider-handle {
    background: $highlight-background;
    border-radius: 50%;
    
    &:hover {
        background: darken($highlight-background, 10%);
    }
}

.slider-fill {
    background: lighten($highlight-background, 25%);
}