.stepper-input {
	  display: flex;

	  &__input {
	  	border-left: 0;
		border-right: 0;
		width: 60px;
		text-align: center;
	}

	.button {
		cursor: pointer;
		padding: $marginSmall $marginLarge;
		color: $white;
		font-size: $fontSizeSmall;
		background-color: $highlight-background;
		border: 1px solid darken($highlight-background, 10);
		border-radius: 4px;
	}

	.button--left {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	.button--right {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}

	.input {
		border: 1px solid $greyLight;
		padding: 0 $marginMedium;
		border-radius: 0;
	}
}