.tabs {
    margin-bottom: 2em;
    padding-left: 2em;
    background: $greyLighter;

    .tabs-title {
        position: relative;
        text-transform: uppercase;
        border-top: 2px solid transparent;

        a {
            color: $greyDark;
            padding: $marginLarge $marginLarge;
        }

        &:not(.is-active):hover a {
            background-color: $greyLight;
        }

        &.is-active {
            border-color: $greyLighter;
            background-color: $white;
            border-radius: $global-radius $global-radius 0 0;

            a {
                color: $highlight-background;
            }
        }
    }
}