// to solve a webkit rendering bug with background cells bleeding out the table
// when using a table with flexbox, border-collapse is set as separate and cell
// borders are configured not to duplicate an existing border.

table {
    border-collapse: separate;

    thead tr:first-child th {
        border-top: 1px solid rgba(0,0,0, 0.05);
    }

    thead th,
    tbody th {
        vertical-align: middle;
        border-right: 1px solid rgba(0,0,0, 0.05);
        border-bottom: 1px solid rgba(0,0,0, 0.05);

        &:first-child {
            border-left: 1px solid rgba(0,0,0, 0.05);
        }

        a {
            display: block;
            position: relative;
            width: 100%;
            color: $white;
            padding-right: 1.5em;
        }

        a i {
            position: absolute;
            right:0;
            top: 50%;
            margin-top: -.75em;
            padding-top: 0.3em;

            &.fa-sort {
                opacity: 0.5;
            }
        }
    }

    tbody td {
        border-right: 1px solid $greyLight;
        border-bottom: 1px solid darken($greyLight,5%);

        &:first-child {
            border-left: 1px solid darken($greyLight,5%);
        }

        a .fa {
            color: $textColorMedium;

            &:hover {
                    color: $textLinkBlue;
            }
        }
    }
}

.table-scroll table {
    min-width: 100%;
}
