.has-float-label {
  display: block;
  position: relative;
}

.has-float-label label,
.has-float-label > span {
    position: absolute;
    cursor: text;
    font-size: 75%;
    opacity: 1;
    transition: all .2s;
    top: 0.75em;
    left: 0.75rem;
    z-index: 3;
    line-height: 1;
}

.has-float-label label::after,
.has-float-label > span::after {
    content: ' ';
    display: block;
    position: absolute;
    height: 2px;
    top: 50%;
    left: -.2em;
    right: -.2em;
    z-index: -1;
}

.has-float-label .form-control::-webkit-input-placeholder,
.has-float-label .form-control::-moz-placeholder,
.has-float-label .form-control:-ms-input-placeholder,
.has-float-label .form-control::placeholder {
    opacity: 1;
    transition: all .2s;
}

.has-float-label .form-control:placeholder-shown:not(:focus)::-webkit-input-placeholder,
.has-float-label .form-control:placeholder-shown:not(:focus)::-moz-placeholder,
.has-float-label .form-control:placeholder-shown:not(:focus):-ms-input-placeholder,
.has-float-label .form-control:placeholder-shown:not(:focus)::placeholder {
    opacity: 0;
}

.has-float-label .form-control:placeholder-shown:not(:focus) + * {
    opacity: .5;
    top: 1.25em;
    color: transparent;
}

.input-group .has-float-label {
    flex-grow: 1;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-group .has-float-label .form-control {
    width: 100%;
    border-radius: 0.25rem;
    padding: .94rem .75rem .94rem;
    transition: padding .25s ease-in-out;

    &:focus,
    &:valid {
        padding: 1.5rem .75rem .38rem;

        &::placeholder  {
            color: transparent;
        }
    }
}

.input-group .has-float-label:not(:last-child),
.input-group .has-float-label:not(:last-child) .form-control {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right: 0;
}
.input-group .has-float-label:not(:first-child),
.input-group .has-float-label:not(:first-child) .form-control {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

//TEMP FILE EVERYTHING WILL BE MOVED TO THE CORRECT PLACE AT THE END

//used in base-data-table

.table {
    thead th,
    tbody th {
        a {
            color: #fff;
            padding-right: 1.5em;
        }
    }
}

thead {
    color: white;
    -webkit-font-smoothing: antialiased; //Add to body?
}

.table-responsive {
  @include media-breakpoint-down(md) {
      display: table; //bootstraap sets the display to block and that causes problems it will be fixed in a version update
    }
}

//Global block wrapper for every page_title
.block-wrapper {
    padding: 12px;
    //maybe add a max-width with margin auto for higher resolutions?
}


//forms
.fieldset-default {
    border: 2px solid #E3E3E3;
    border-radius: 3px;
    padding: 15px;
    margin-bottom: 1rem;

    legend {
        width: auto;
        padding: 5px 10px;
        font-size: 0.875rem;
        text-align: center;
    }
}
