.form-control {
    padding: $input-btn-padding-y $input-btn-padding-x;
}

.has-float-label {
  display: block;
  position: relative;
}

.has-float-label label,
.has-float-label > span {
    position: absolute;
    top: 0.75em;
    left: 0.75rem;
    transition: all .2s;
    font-size: 75%;
    line-height: 1;
    cursor: text;
    opacity: 1;
    z-index: 3;
}

.has-float-label label::after,
.has-float-label > span::after {
    display: block;
    position: absolute;
    top: 50%;
    right: -.2em;
    left: -.2em;
    height: 2px;
    content: ' ';
    z-index: -1;
}

.has-float-label .form-control::-webkit-input-placeholder,
.has-float-label .form-control::-moz-placeholder,
.has-float-label .form-control:-ms-input-placeholder,
.has-float-label .form-control::placeholder {
    transition: all .2s;
    opacity: 1;
}

.has-float-label .form-control:placeholder-shown:not(:focus)::-webkit-input-placeholder,
.has-float-label .form-control:placeholder-shown:not(:focus)::-moz-placeholder,
.has-float-label .form-control:placeholder-shown:not(:focus):-ms-input-placeholder,
.has-float-label .form-control:placeholder-shown:not(:focus)::placeholder {
    opacity: 0;
}

.has-float-label .form-control:placeholder-shown:not(:focus) + * {
    opacity: .5;
    top: 1.25em;
    color: transparent;
}

.input-group .has-float-label {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    margin-bottom: 0;
}

.input-group .has-float-label .form-control {
    width: 100%;
    transition: padding .25s ease-in-out;
    border-radius: $border-radius;

    &:focus,
    &:valid {
        padding-top: 1.2rem;
        padding-bottom: .4rem;

        &::placeholder  {
            color: transparent;
        }
    }
}

//TEMP FILE EVERYTHING WILL BE MOVED TO THE CORRECT PLACE AT THE END

//used in base-data-table

.table {
    border-radius: $border-radius;
    thead th,
    tbody th {
        border-top: none;
        font-weight: normal;
        font-size: 12px;
        text-transform: uppercase;
        color: $gray-medium;
        a {
            color: $gray-medium;
            padding-right: 1.5em;
        }
    }
}

.table-responsive {
  @include media-breakpoint-down(md) {
      display: table; //bootstraap sets the display to block and that causes problems it will be fixed in a version update
  }
}

//Global block wrapper for every page_title
.content-wrapper {
    padding: 12px;
    max-width: 1180px; //define max-width variable
    margin-left: auto;
    margin-right: auto;
}


//arctic card css
.arctic-card {
    border-radius: $border-radius;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
    background-color: white;

    &__header {
        padding: 12px;
    }

    &__form-header {
        position: absolute;
        width: calc(100% - 24px);
        left: 12px;
        padding: 0;
        padding-bottom: 5px;
        border-bottom: 1px solid $input-border-color;
    }

    &__title {
        margin: 0;
        color: $gray-dark;
        font-weight: 300;
    }

    &__subtitle {
        color: $gray-dark;
        font-size: 13px;
        margin-bottom: 0px;
    }

    &__placeholder {
        width: 100%;
        &--small {
            height: 42px
        }
        &--big {
            height: 68px
        }
    }
}

//forms
.fieldset-default {
    position: relative;
    padding: 24px 0;
}

.form-block {
    margin-bottom: 1rem;
}

.form-size {
    max-width: 100%;
    padding: 0 12px;
    @include media-breakpoint-up(md) {
        max-width: 70%;
        margin: auto;
        padding: 0;
    }
}

.collapse-control {
    position: absolute;
    right: 12px;

    &.collapsed {
        transform: rotate(180deg);
    }
}
