[data-tree] {
    background-color: $greyLightest;
    padding: $marginLarge;

    .jstree-wholerow-clicked {
        background: $greyLight;
    }

    .jstree-wholerow-hovered {
        background: $greyLighter;
    }

}

.jstree {

    .jstree-anchor {
        position: relative;
    }

    // default site label styling
    .jstree-anchor:before {
        display: block;
        position: absolute;
        z-index:1;
        top: 50%;
        margin-top: -.6em;
        padding: 0.25em;
        background: #F05050;
        color: white;
        line-height: 1em;
        font-size: 0.5em;
        font-weight: bold;
        font-style: normal;
    }

}

// submenu above site label
.vakata-context {
    z-index: 1;
}
