.widget {
    &__header {
        @include ellipsis;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        min-height: 60px;
        font-size: $fontSizeExtraLarge;
        color: $white;
        background: $highlight-background;
        border-radius: 5px 5px 0 0;
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        padding: $marginMedium;
        border: 1px solid $greyLight;
        border-top: 0;
        border-radius: 0 0 5px 5px;
    }
}